<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".woff2" mimeType="woff2/Bootstrap Font" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="api/(.*)" />
                    <action type="Rewrite" url="http://localhost:9200/demandeurs/demandeurs/_search" />
                </rule>
            </rules>
        </rewrite>

    </system.webServer>
</configuration>
