<form class="form-horizontal" role="form" ng-submit="vm.submit()" >
    <div class="col-md-7">
        <div class="input-group" style="padding:50px auto">
            <input type="text" class="form-control" autofocus autocomplete="off" ng-model="vm.query" placeholder="Chercher par: Nom , Prénom , Année de Naissance , Commune de Naissance ..."
            />
            <div class="input-group-btn">
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </div>
        </div>
    </div>
</form>