<div ng-show="vm.demandeurs.list.length">


    <div class="app-usagovsearch result-container">
        <div class="tab-pane result-area active" id="profile">
            <ul class="list-unstyled press">
                <div ng-repeat="demandeur in vm.demandeurs.list">
                    <component.demandeur demandeur="demandeur"></component.demandeur>
                </div>
            </ul>
        </div>

    </div>


</div>
<div ng-hide="vm.demandeurs.list.length">
    <h1 class="lead text-center">No book found</h1>
</div>