<div class="container">
    <div class="col-md-2">
        <img src="images/logo.png" class="img-responsive">
    </div>


    <div class="col-md-7">
        <component.simple-search on-submit="vm.simpleSearch(query)" ng-show="vm.isSimpleSearch"></component.simple-search>
    </div>

    <div class="loader" style="float: none ; margin: 0 auto" ng-show="!vm.isSimpleSearch"></div>

</div>

<hr>
<div id="resultStats" style="color: #808080; padding-left:12px">
    {{vm.resultStats}}
</div>
<component.pagination ng-show="vm.options.showTopPagination" total="vm.pages.total" current="vm.pages.current" on-Btn-Click="vm.getPage(page)"
    style="text-align: center"></component.pagination>

<component.demandeurs demandeurs="vm.demandeurs"></component.demandeurs>

<component.pagination ng-show="vm.options.showBottomPagination" total="vm.pages.total" current="vm.pages.current" size="vm.options.size"
    on-Btn-Click="vm.getPage(page)" style="text-align: center">

</component.pagination>